@charset "UTF-8";
html {
  width: 100%;
  height: 100%;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  font-family: "Helvetica", "Arial", sans-serif;
  color: #333;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  margin-top: 24px;
  margin-bottom: 24px;
  line-height: 1.35em;
  letter-spacing: -0.02em;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-weight: 400;
  line-height: 1.35em;
  opacity: 0.54;
  font-size: 0.6em;
  letter-spacing: 0em;
}
h1 {
  font-size: 4em;
}
h2 {
  font-size: 3.5em;
}
h3 {
  font-size: 3.0em;
}
h4 {
  font-size: 2.5em;
}
h5 {
  font-size: 2.0em;
}
h6 {
  font-size: 1.5em;
}
p {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0;
  margin-bottom: 16px;
}
a {
  font-weight: 500;
  color: #10608a;
  cursor: pointer;
}
a:focus,
a:active,
a:visited,
a:hover {
  color: #10608a;
  text-decoration: none;
}
blockquote {
  font-weight: 300;
  font-style: italic;
}
blockquote:after {
  content: '”';
}
blockquote:before {
  content: '“';
}
mark {
  background-color: #f4ff81;
}
address {
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0;
  font-style: normal;
}
img {
  vertical-align: middle;
}
body.lesscss .f1,
body.lesscss .f2,
body.lesscss .f3,
body.lesscss .f4,
body.lesscss .f5,
body.lesscss .f6 {
  font-weight: normal;
}
body.lesscss .f1 {
  font-size: 10px;
  line-height: 14px;
}
body.lesscss .f2 {
  font-size: 11px;
  line-height: 16px;
}
body.lesscss .f3 {
  font-size: 12px;
  line-height: 16px;
}
body.lesscss .f4 {
  font-size: 13px;
  line-height: 18px;
}
body.lesscss .f5 {
  font-size: 14px;
  line-height: 22px;
}
body.lesscss .f6 {
  font-size: 16px;
  line-height: 24px;
}
body.lesscss .f7 {
  font-size: 18px;
  line-height: 24px;
}
body.lesscss .f8 {
  font-size: 20px;
  line-height: 26px;
}
body.lesscss .txt-al {
  text-align: left;
}
body.lesscss .txt-ar {
  text-align: right;
}
body.lesscss .txt-ac {
  text-align: center;
}
body.lesscss .txt-aj {
  text-align: justify;
}
body.lesscss .txt-nowrap {
  white-space: nowrap;
}
body.lesscss .txt-lc {
  text-transform: lowercase;
}
body.lesscss .text-uc {
  text-transform: uppercase;
}
body.lesscss .text-capitalize {
  text-transform: capitalize;
}
body.lesscss .font-thin {
  font-weight: 200;
}
body.lesscss .font-light {
  font-weight: 300;
}
body.lesscss .font-regular {
  font-weight: 400;
}
body.lesscss .font-medium {
  font-weight: 500;
}
body.lesscss .font-bold {
  font-weight: 600;
}
body.lesscss .font-strong {
  font-weight: 700;
}
body.lesscss .font-black {
  font-weight: 900;
}
body.lesscss .text-shadow {
  text-shadow: rgba(0, 0, 0, 0.6) 1px 1px 2px;
}
body.lesscss .ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
body.lesscss .quote:before {
  content: '“';
}
body.lesscss .quote:after {
  content: '“';
}
body.lesscss .no-line-height {
  line-height: inherit;
}
body.lesscss .m-2 {
  margin: 2px;
}
body.lesscss .m-5 {
  margin: 5px;
}
body.lesscss .m-10 {
  margin: 10px;
}
body.lesscss .m-15 {
  margin: 15px;
}
body.lesscss .m-30 {
  margin: 30px;
}
body.lesscss .m-50 {
  margin: 50px;
}
body.lesscss .m-10pc {
  margin: 10%;
}
body.lesscss .m-20pc {
  margin: 20%;
}
body.lesscss .m-n-20 {
  margin: -20px;
}
body.lesscss .m-n-100pc {
  margin: -100%;
}
body.lesscss .mt {
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}
body.lesscss .mr {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}
body.lesscss .mb {
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
}
body.lesscss .ml {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
}
body.lesscss .mx {
  margin-top: 0;
  margin-bottom: 0;
}
body.lesscss .my {
  margin-right: 0;
  margin-left: 0;
}
body.lesscss .mn {
  margin: 0;
}
body.lesscss .p-2 {
  padding: 2px;
}
body.lesscss .p-5 {
  padding: 5px;
}
body.lesscss .p-10 {
  padding: 10px;
}
body.lesscss .p-15 {
  padding: 15px;
}
body.lesscss .p-30 {
  padding: 30px;
}
body.lesscss .p-50 {
  padding: 50px;
}
body.lesscss .pt {
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}
body.lesscss .pr {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
}
body.lesscss .pb {
  padding-top: 0;
  padding-right: 0;
  padding-left: 0;
}
body.lesscss .pl {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
}
body.lesscss .px {
  padding-top: 0;
  padding-bottom: 0;
}
body.lesscss .py {
  padding-right: 0;
  padding-left: 0;
}
body.lesscss .pn {
  padding: 0;
}
body.lesscss .ib {
  position: relative;
}
body.lesscss .ib:before {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: inherit;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
}
body.lesscss .ib.b0001:before,
body.lesscss .ib.b0010:before,
body.lesscss .ib.b0011:before,
body.lesscss .ib.b0100:before,
body.lesscss .ib.b0101:before,
body.lesscss .ib.b0110:before,
body.lesscss .ib.b0111:before,
body.lesscss .ib.b01:before {
  border-top: 0;
}
body.lesscss .ib.b0001:before,
body.lesscss .ib.b0010:before,
body.lesscss .ib.b0011:before,
body.lesscss .ib.b1000:before,
body.lesscss .ib.b1001:before,
body.lesscss .ib.b1010:before,
body.lesscss .ib.b1011:before,
body.lesscss .ib.b10:before {
  border-right: 0;
}
body.lesscss .ib.b0001:before,
body.lesscss .ib.b0100:before,
body.lesscss .ib.b0101:before,
body.lesscss .ib.b1000:before,
body.lesscss .ib.b1001:before,
body.lesscss .ib.b1100:before,
body.lesscss .ib.b1101:before,
body.lesscss .ib.b01:before {
  border-bottom: 0;
}
body.lesscss .ib.b0010:before,
body.lesscss .ib.b0100:before,
body.lesscss .ib.b0110:before,
body.lesscss .ib.b1000:before,
body.lesscss .ib.b1010:before,
body.lesscss .ib.b1100:before,
body.lesscss .ib.b1110:before,
body.lesscss .ib.b10:before {
  border-left: 0;
}
body.lesscss .ib.b3d:before {
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
}
body.lesscss .ib.bc-light:before {
  border-color: #e1e2e3;
}
body.lesscss .ib.bc-dark:before {
  border-color: #1a3c4d;
}
body.lesscss .ib.br-2:before {
  border-radius: 2px;
}
body.lesscss .ib.br-3:before {
  border-radius: 3px;
}
body.lesscss .ib.br-4:before {
  border-radius: 4px;
}
body.lesscss .ib.br-5:before {
  border-radius: 5px;
}
body.lesscss .ib.bw-2:before {
  border-width: 2px;
}
body.lesscss .ib.bw-3:before {
  border-width: 3px;
}
body.lesscss .ib.bw-4:before {
  border-width: 4px;
}
body.lesscss .ib.bw-5:before {
  border-width: 5px;
}
body.lesscss .ib:after {
  content: '';
}
body.lesscss .ib.bs:before {
  box-shadow: 1px 1px 5px #bfbfbf;
}
body.lesscss .ib.bsz:before {
  box-shadow: 0 8px 6px -8px rgba(0, 0, 0, 0.3);
}
body.lesscss .ib.bs-light {
  box-shadow: 0 1px 3px -2px rgba(0, 0, 0, 0.52);
  border-color: #cccccc;
}
body.lesscss .img {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
body.lesscss .img:after {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: inherit;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
body.lesscss .img:before {
  content: '';
  position: absolute;
  background-size: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
body.lesscss .img.box {
  position: relative;
  box-sizing: border-box;
  width: inherit;
  height: auto;
  padding: 50%;
}
body.lesscss .img.box.wide {
  padding: 26%;
}
body.lesscss .img.box.wide > img.landscape {
  width: 100%;
  height: auto;
}
body.lesscss .img.box.xwide {
  padding: 18%;
}
body.lesscss .img.box.xwide > img.landscape {
  width: 100%;
  height: auto;
}
body.lesscss .img.box > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
body.lesscss .img.box > img.landscape {
  width: auto;
  height: 100%;
}
body.lesscss .img.box > img.portrait {
  width: 100%;
  height: auto;
}
body.lesscss .img.user:before {
  background-image: url(../images/default-user.jpg);
}
body.lesscss .img.default:before {
  background-image: url(../images/default.png);
}
body.lesscss .img.default-wide:before {
  background-image: url(../images/default-wide.png);
  background-size: initial;
  background-repeat: no-repeat;
  background-position: center;
}
body.lesscss .img > img {
  width: inherit;
  height: inherit;
}
body.lesscss .img > img.landscape {
  width: 100%;
}
body.lesscss .img > img.portrait {
  height: 100%;
}
body.lesscss .img > img.lazyload {
  opacity: 0;
}
body.lesscss .img > img.lazyloaded {
  opacity: 1;
  transition: opacity 300ms;
}
body.lesscss .img > img.lazyloading {
  opacity: 1;
  transition: opacity 300ms;
  background: #f7f7f7 url(../images/loader.gif) no-repeat center;
  background-size: 30%;
  width: 100% !important;
  height: 100% !important;
}
body.lesscss .img > img.grayscale {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
}
body.lesscss .img > .caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0px 5px;
  color: white;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), black);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgba(0, 0, 0, 0.5), black);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgba(0, 0, 0, 0.5), black);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgba(0, 0, 0, 0.5), black);
  /* Standard syntax */
}
body.lesscss .hidden {
  display: none !important;
}
body.lesscss .vhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
body.lesscss .invisible {
  visibility: hidden;
}
body.lesscss .clear:before,
body.lesscss .clear:after {
  content: " ";
  display: table;
}
body.lesscss .clear:after {
  clear: both;
}
body.lesscss .fl {
  float: left;
}
body.lesscss .fr {
  float: right;
}
body.lesscss .hoverlay:hover {
  background: #daeaf2;
  border-top: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  border-color: #67a9cc;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}
body.lesscss .graphy {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}
body.lesscss .wf {
  width: 100%;
  height: auto !important;
}
body.lesscss .wi {
  width: inherit;
  max-width: inherit;
  min-width: inherit;
}
body.lesscss .hi {
  height: inherit;
  max-height: inherit;
  min-height: inherit;
}
body.lesscss .rel {
  position: relative;
}
body.lesscss .abs {
  position: absolute;
}
body.lesscss .top {
  top: 0;
}
body.lesscss .bottom {
  bottom: 0;
}
body.lesscss .left {
  left: 0;
}
body.lesscss .right {
  right: 0;
}
body.lesscss .ts:before {
  content: '·';
  margin: 7px;
}
