.m-1 { margin: 1px;}
.m-2 { margin: 2px; }
.m-3 { margin: 3px; }
.m-4 { margin: 4px; }
.m-5 { margin: 5px; }
.m-6 { margin: 6px; }
.m-7 { margin: 7px; }
.m-8 { margin: 8px; }
.m-9 { margin: 9px; }
.m-10 { margin: 10px; }

.m-15 { margin: 15px; }
.m-20 { margin: 20px; }
.m-25 { margin: 25px; }
.m-30 { margin: 30px; }
.m-35 { margin: 35px; }
.m-40 { margin: 40px; }
.m-45 { margin: 45px; }
.m-50 { margin: 50px; }

.mt {
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
}

.mr {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
}

.mb {
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
}

.ml {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
}

.mx {
    margin-top: 0;
    margin-bottom: 0;
}

.my {
    margin-right: 0;
    margin-left: 0;
}

.m0, .mn {
    margin: 0;
}

.ma {
    margin: auto;
}

.m0001, .m0010, .m0011, .m0100, .m0101, .m0110, .m0111, .m01 {
    margin-top: 0;
}

.m0001, .m0010, .m0011, .m1000, .m1001, .m1010, .m1011, .m10 {
    margin-right: 0;
}

.m0001, .m0100, .m0101, .m1000, .m1001, .m1100, .m1101, .m01 {
    margin-bottom: 0;
}

.m0010, .m0100, .m0110, .m1000, .m1010, .m1100, .m1110, .m10 {
    margin-left: 0;
}